
.cakeTitle  { 
    max-width: "400px"; 
    margin: "2rem auto" 
}

.base64cake {
    margin-top: "1rem"; 
}

.base64cakeAlt {
     max-width: "100%"; 
     border-radius: "8px";
}

.submitButton{
    margin-top: "1rem";
}